.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
}
.focus {
    float: left;
    width: 721px;
    height: 465px;
    margin-top: 10px;
}
.newsflash {
    float: right;
    width: 250px;
    height: 455px;
    background-color: yellow;
    margin-top: 10px;
}
.news {
    height: 165px;
    background-color: pink;
}
.lifeservice {
    height: 209px;
    background-color: skyblue;
}
.bargain{
    
}